@model ReviewSiteProject.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div id="details">
    <h4>Review</h4>
    <hr />
    <div class="section">
        <div class="image"></div>
        <div class="top">@Html.DisplayNameFor(model => model.Category.Brand)</div>
        <div class="bottom">@Html.DisplayFor(model => model.Category.Brand)</div>
    </div>

        <div class="section">
            <div class="image"></div>
            <div class="top">@Html.DisplayNameFor(model => model.Title)</div>
            <div class="bottom">@Html.DisplayFor(model => model.Title)</div>                        
        </div>

        <div class="section">
            <div class="image"></div>
            <div class="top">@Html.DisplayNameFor(model => model.Content)</div>
            <div class="bottom">@Html.DisplayFor(model => model.Content)</div>           
        </div>

        <div class="section">
            <div class="image"></div>
            <div class="top">@Html.DisplayNameFor(model => model.PublishDate)</div>
            <div class="bottom">@Html.DisplayFor(model => model.PublishDate)</div>
        </div>
</div>
<p id="editDetails">
    @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID })
    @Html.ActionLink("Back to List", "Index")
</p>
