@model IEnumerable<ReviewSiteProject.Models.Review>

@{
    ViewBag.Title = "Index";
}

<h2 class="create">Reviews</h2>

<p class="create">
    @Html.ActionLink("Write A Review", "Create")
</p>

<div class="con shared">
        <div class="column fixedcol">@Html.DisplayNameFor(model => model.Category.Brand)</div>
        <div class="column fixedcol">@Html.DisplayNameFor(model => model.Title)</div>
        <div class="column fixedcol">@Html.DisplayNameFor(model => model.Content)</div>
        <div class="column fixedcol">@Html.DisplayNameFor(model => model.PublishDate)</div>
        <div class="column fixedcol"></div>
    </div>
<div class="conTwo shared">

    @foreach (var item in Model)
    {
        <div class="column">@Html.DisplayFor(modelItem => item.Category.Brand)</div>
        <div class="column">@Html.DisplayFor(modelItem => item.Title)</div>
        <div class="column">@Html.DisplayFor(modelItem => item.Content)</div>
        <div class="column">@Html.DisplayFor(modelItem => item.PublishDate)</div>
        <div class="column">
            @Html.ActionLink("Edit", "Edit", new { id = item.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ReviewID })
        </div>
    }
    </div>

