<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="nav">
        <ul>
            <li>@Html.ActionLink("Home", "Index", "Home", new { @class = "elements" }, null)</li>
            <li>@Html.ActionLink("Brands", "Index", "Categories", new { @class = "elements" }, null)</li>
            <li>@Html.ActionLink("Reviews", "Index", "Reviews", new { @class = "elements" }, null)</li> 
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
